.grid {
  display: flex;
  width: 460px;
  height: 460px;
  border: 2px solid white;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.gridItem {
  width: calc(100% / 3);
  height: calc(100% / 3);
  background-color: red;
  border: 1px dashed black;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.hide {
  background-color: transparent;
  border: 1px dashed transparent;
}
